@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 15px; /* Pomera navbar malo dole */
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*lepo se vidi dole kraj navbara*/
    z-index: 1000;
    height: 60px;
    overflow: visible; 
}

.logo img {
    height: 70px; 
    margin-top: 10px; 
    margin-left: 100%;

}
 
.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
  margin-right: 20%; 
  font-family: "Montserrat", sans-serif;
}
  
.nav-links li {
  position: relative; 
}
  
.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 60px;
}
  
.nav-links a:hover {
  color: #357a45;
  cursor: pointer;
}
  
.dropdown {
  position: relative; 
}
  
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Povećan z-index da bi bio iznad drugih */
  font-family: "Montserrat", sans-serif;
  width: 130px;
  text-align: center!important;
 
}
  
.dropdown-item{
  font-size: 10px !important; /*jer nesto od podesavanja nadjacava ovo, pa moram reci da je ovo vaznije*/
  text-align: center!important;

}

.dropdown:hover .dropdown-menu {
  display: block; /*bez ovog nemam padajuci meni*/
}
  
body {
  padding-top: 80px; /* Ovo čini da se sadržaj ne preklapa sa navbarom */
}
  
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: #357a45;
  color: #fff;
}
.modal button:hover{
  background-color: #2e6b3c;
}
.confirm-btn {
  background-color:#357a45;
  color: white;
}


